.mystyle {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px}
.tablestyle {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px}
a { text-decoration: none ; font-weight: bold }
